body{
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #edf;
    color: #222;
}

.tab-content{
    display: none;
    text-align: center;
    background: #eef;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.tarea{
    resize: vertical;
    width: 90%;
    font-size: 1.5em;
}

.btn{
    text-align: center;
    font-size: 2em;
}

h1{
    text-align: center;
}